<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Squareroot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="row">
  <div class="col"></div>
  <div class="col">

      <br>
      <br>
      <br>
      <center><h1>Squareroot</h1></center>

      <form method="POST">
        {% csrf_token %}


  <div class="form-group">
    <label for="no">Number</label>
    <input type="number" class="form-control" id="no" name="no">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
          <a href={% url 'home' %}><button type="button" class="btn btn-primary">Back</button></a>
</form>

 <center><h3><span class="badge badge-success">{{ resultsqrt }}</span></h3></center>

  </div>
  <div class="col"></div>
</div>


</body>
</html>